<!-- Form  Questions Go Here -->

<div class="container">
  <div>

    <form (ngSubmit)="onSubmit()" #survey="ngForm">
      <div class="form-group">
        <label>1. What's your name?</label>
        <input type="text" class="form-control" [(ngModel)]="name" name="name">
      </div>
      
      <div class="form-group">
        <label for="age">2. How old are you?</label>
        <select class="form-control" id="age"
                [(ngModel)]="model.age" name="age"
                #age="ngModel">
          <option *ngFor="let a of ages" [value]="a">{{a}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="city">3. What city do you live in?</label>
        <input type="text" class="form-control" id="city"
               [(ngModel)]="city" name="city">
      </div>
      
      <div class="form-group">
        <label for="course">4. What made you want to take this course?</label>
        <input type="text" class="form-control" id="course"
               [(ngModel)]="course" name="course">
      </div>
      
      <div class="form-group">
        <label for="outcome">5. What is your target outcome of this course?</label>
        <input type="text" class="form-control" id="outcome"
               [(ngModel)]="outcome" name="outcome">
      </div>
      
      <div class="form-group">
        <label for="learning">6. What is your best way of learning? (i.e handson, demos)</label>
        <input type="text" class="form-control" id="learning"
               [(ngModel)]="learning" name="learning">
      </div>
      
      <div class="form-group">
        <label for="dreamjob">7. What is your dream job?</label>
        <input type="text" class="form-control" id="dreamjob"
               [(ngModel)]="dreamjob" name="dreamjob">
      </div>
      
      <div class="form-group">
        <label for="company">8. Is there a certain company you want to work for?</label>
        <input type="text" class="form-control" id="company"
               [(ngModel)]="company" name="company">
      </div>

      <button type="submit" class="btn btn-success" routerLink="/results" routerLinkActive="active" [disabled]="!survey.form.valid" (click)="onSubmit()">Submit</button>
      
    </form>
  </div>
  
  
  <div [hidden]="!submitted" *ngFor="let item of items | async">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name:</div>
      <div class="col-xs-9  pull-left">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Age:</div>
      <div class="col-xs-9 pull-left">{{ model.age }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">City you live in:</div>
      <div class="col-xs-9 pull-left">{{ model.city }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">What made you take this Course:</div>
      <div class="col-xs-9 pull-left">{{ model.course }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Target Outcome from course:</div>
      <div class="col-xs-9 pull-left">{{ model.outcome }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Best Way of learning:</div>
      <div class="col-xs-9 pull-left">{{ model.learning }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Your Dream Job:</div>
      <div class="col-xs-9 pull-left">{{ model.dreamjob }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Company you want to work for:</div>
      <div class="col-xs-9 pull-left">{{ model.company }}</div>
    </div>
    <br>
    <button class="btn btn-primary" routerLink="/survey" routerLinkActive="active">Back</button>
  </div>

  
</div>

<!-- ====================================================  -->
 
<style>
  .no-style .ng-valid {
  border-left: 1px  solid #CCC
}

  .no-style .ng-invalid {
  border-left: 1px  solid #CCC
}
</style>



<!-- 
Copyright 2017 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->