<table>
  <tr>
    <th>You Submitted:</th>
  </tr>
  <tr *ngFor="let item of items | async">
    <td>{{convert(item.body)}}</td>
  </tr>
</table>

<button class="btn btn-primary" routerLink="/survey" routerLinkActive="active">Back</button>